SQL LITE


Universidad Peruana de Ciencias Aplicadas
FACULTAD DE INGENIERÍA
Curso: Finanzas e Ingeniería Económica
Sección: 7024
Docente: Gabriel Renato Chicoma Cacho
Integrantes:
Apellidos y Nombres
Código
Alva Camino, Max
Cespedes Gonzales, Jorge Samuel Alexander
Huaman Cuba, Johan Giovani
Lopez Montenegro, Rony Joseph
U202224637
Uribe Linares, Francisco Javier
2026 – 01
Introducción
El presente informe tiene como objetivo el desarrollo de una aplicación web orientada a la simulación de créditos vehiculares en el Perú, y para ello se utilizará el método de amortización francés vencido ordinario. Este sistema permitirá calcular de manera precisa el plan de pagos de un préstamo, tomaremos diferentes variables financieras como el tipo de moneda (soles o dólares), tipo de tasa de interés (nominal o efectiva), incluyendo periodos de gracia total o parcial. El sistema implementado estará diseñado desde la perspectiva de una entidad financiera, el cual permitirá gestionar información de clientes, características de los vehículos y condiciones de los créditos. Asimismo, incorporaremos el cálculo de indicadores financieros relevantes como el Valor Actual Neto (VAN), la Tasa Interna de Retorno (TIR) y la Tasa de Costo Efectiva Anual (TCEA), siendo estos fundamentales para la toma de decisiones en el ámbito financiero.
Esta aplicación web cumplirá con los lineamientos establecidos por el sistema financiero sea en cuanto a transparencia de la información, lo cual garantizará que el usuario pueda visualizar todos los costos que estén asociados al crédito, incluyendo intereses, seguros y gastos administrativos.
Finalmente, este proyecto integra conocimientos de ingeniería, matemática y computación para resolver los problemas reales en el ámbito financiero, contribuyendo al desarrollo de soluciones tecnológicas que optimicen la evaluación y gestión de créditos.
Índice
Student Outcome5
CAPITULO 1: Definiciones generales y conceptos básicos8
1.1 Crédito vehicular8
1.2 Método francés vencido ordinario8
1.3 Tasas de interés8
1.4 Tasa Efectiva Mensual (TEM)8
1.5 Capital o saldo Inicial (S)8
1.6 Amortización8
1.7 Periodo de gracia9
1.8 Valor Actual Neto (VAN)9
1.9 Tasa Interna de Retorno (TIR)9
1.10 Tasa de Costo Efectivo Anual (TCEA)9
1.11 Valor del dinero en el tiempo9
CAPITULO 2: Marco Legal y Teórico9
2.1.  Marco legal en el Perú9
2.2. Marco Teórico10
2.2.1. Sistema de Amortización Frances10
2.2.2. Tasas de interés11
2.2.3. Conversión de Tasas11
2.2.4. Cuota en el Método francés12
2.2.5. Indicadores financieros12
CAPITULO 3: Análisis y Diseño del Sistema13
3.1 Análisis de Datos13
3.2 Diseño de la Interfaz16
3.3 Marco conceptual (fórmulas)18
3.4 Diseño de Datos de prueba20
CAPITULO 4: Algoritmo26
4.1 Conversión de Tasa Efectiva o Tasa Nominal a Tasa Efectiva Mensual (TEM)26
4.2 Capital Vivo (S)26
4.3 Cálculo de la Cuota Base (Método Francés)26
4.4 Interés del periodo k26
4.5 Amortización del periodo k26
4.6 Capital vivo al final del periodo k26
4.7 Cuota Total del periodo k27
4.8 VAN27
4.9 TIR27
4.10 TCEA27
4.11 Pseudocódigo consolidado27
CAPÍTULO 5: Modelo de Base de datos28
Bibliografía29
Anexos29
Student Outcome
CAPITULO 1: Definiciones generales y conceptos básicos
Para el desarrollo de este sistema, es fundamental comprender los conceptos financieros y técnicos que intervienen sea en el cálculo y análisis de créditos vehiculares bajo el método de amortización francés.
1.1 Crédito vehicular
Es un producto financiero que es otorgado por una entidad financiera que permite a una persona adquirir un vehículo mediante el financiamiento de un monto determinado, el cual a través de cuotas periódicas que incluyen capital e intereses será devuelto durante un plazo ya establecido. Este tipo de crédito está sujeto a condiciones como tasa de interés, plazo y comisiones (BBVA, 2024).
1.2 Método francés vencido ordinario
Es un método de pago de préstamos que se caracteriza por tener cuotas constantes a lo largo del tiempo. Cada una de estas cuotas está compuesta por una parte de interés y otra de amortización del capital, en donde al inicio se paga muchos más intereses y menos capital, y con el tiempo esta relación se invierte (Banco Sabadell, 2025).
1.3 Tasas de interés
Este es el costo del dinero en el tiempo, que es expresado generalmente en forma porcentual, es decir, el porcentaje que se paga por el uso de un capital durante un determinado periodo (BBVA, 2025).
Tasa Nominal (TN): Esta es una tasa referencial que requiere un proceso de capitalización para convertirse en tasa efectiva.
Tasa Efectiva (TE): Reflejado en el interés real que es aplicado en un periodo determinado.
1.4 Tasa Efectiva Mensual (TEM)
Es la tasa de interés que es aplicada en cada periodo mensual. Este se obtiene a partir de la conversión de una tasa efectiva o nominal, siendo utilizada para el cálculo de las cuotas del crédito de un préstamo (SBS, 2018).
1.5 Capital o saldo Inicial (S)
Es el monto financiado por alguna entidad financiera, la cual es el resultado de restar al valor del vehículo la cuota inicial pagada por los clientes.
1.6 Amortización
Es la parte de la cuota que está totalmente destinada reducir el capital del préstamo (Banco Santander, 2023).
1.7 Periodo de gracia
Este es un intervalo de tiempo en donde el cliente tiene la opción de postergar el pago del crédito, existiendo dos tipos:
Gracia total: En este periodo no se pagan cuotas, pero los intereses se siguen generando.
Gracia parcial: En este periodo se pagan solo los intereses, sin amortizar el capital (Interseguro, 2025).
1.8 Valor Actual Neto (VAN)
Es un indicador financiero que permite determinar el valor presente de los flujos de caja futuros que son generados ya sea por una inversión o un préstamo, descontados a una tasa de interés determinada (ESAN, 2017).
1.9 Tasa Interna de Retorno (TIR)
Esta tasa de descuento es la que hace que el VAN tengo un valor igual a cero. Representa la rentabilidad efectiva de una inversión o el costo real de un crédito (BBVA, s.f.)
1.10 Tasa de Costo Efectivo Anual (TCEA)
Este es el indicador que refleja el costo total del crédito anual, que incluye los intereses, seguros, comisiones y cualquier otro gasto que este asociado (Scotiabank, 2026).
1.11 Valor del dinero en el tiempo
Es un principio financiero el cual establece que una cantidad de dinero en el presente tiene mayor valor que la misma cantidad en el futuro gracias a la capacidad de generar rendimientos (BBVA México, 2022).
CAPITULO 2: Marco Legal y Teórico
2.1.  Marco legal en el Perú
El desarrollo e implementación del sistema propuesto se sustenta en el marco normativo vigente del sistema financiero peruano, el cual se encarga de regular la transparencia, el cálculo de las tasas y la protección al usuario.
Ley General del Sistema Financiero – Ley N° 26702
Esta ley establece el funcionamiento de las entidades financieras en el Perú, la cual se encarga de regular las operaciones de crédito, incluyendo prestamos vehiculares. Además, define las condiciones bajo las cuales las instituciones pueden ofrecer sus productos financieros, así como los criterios de supervisión que se usa la SBS.
Reglamento de Transparencia de Información y Contratación con Usuarios del Sistema Financiero (Resolución SBS N.º 8181-2012)
Esta norma es clave para el sistema, ya que esta exige que las entidades financieras brinden información clara, suficiente y oportuna sobre:
Tasas de interés
Costos de crédito
Comisiones
TCEA (Tasa de Costo Efectivo Anual)
El sistema implementado deberá calcular y sobre todo mostrar estos indicadores obligatoriamente.
Ley de Protección al consumidor - Ley N° 29571
Esta ley garantiza que el cliente recibirá la información veraz sobre el crédito, evitando de esta manera las practicas engañosas. El sistema implementado debe reflejar fielmente los cálculos financieros.
Normativa sobre tasas de interés – SBS
La Superintendencia de Banca, Seguros y AFP (SBS) regula:
Las tasas de interés efectivas, así como también las nominales
La conversión de tasas
El cálculo de la Tasa de Costo Efectivo Anual (TCEA)
2.2. Marco Teórico
El sistema desarrollado se basa en principios de matemática financiera y evaluación de inversiones, los cuales nos permiten modelar el comportamiento de cualquier crédito, calcular costos y sobre todo analizar su rentabilidad. Estos se convierten en conceptos esenciales para construir un sistema sumamente confiable que represente correctamente un crédito vehicular.
2.2.1. Sistema de Amortización Frances
Este sistema es uno de los métodos que más se utiliza en el sistema financiero para el pago de préstamos, tales como créditos personales, hipotecarios y vehiculares. Su principal característica es que está establecido por cuotas constantes durante todo el periodo del crédito, facilitando la planificación financiera del usuario (Banco Sabadell, 2025).
Cada cuota de este sistema está compuesta por dos elementos: el interés y la amortización del capital. Siendo que, en las primeras cuotas, el interés representa la mayor parte del pago, debido a que el saldo de la deuda es más alto. Por ello, a medida que transcurre el tiempo, la proporción de interés disminuye y aumenta la amortización, permitiendo reducir de manera progresiva el capital pendiente (Banco Santander, 2023).
Este sistema será la base para el cálculo del cronograma de pagos del crédito vehicular, ya que esto permite generar una estructura mucho más clara de cuotas, intereses y saldos en cada periodo.
2.2.2. Tasas de interés
La tasa de interés es el costo del dinero en el tiempo, es decir, es el porcentaje que se está pagando por el uso de un capital durante un determinado periodo. Siendo un elemento fundamental en cualquier operación financiera, porque influye directamente en el monto total a pagar por un crédito (BBVA, 2025).
Existen dos tipos principales de tasas de interés: la tasa efectiva y la tasa nominal. La tasa efectiva se ve reflejada en el rendimiento real de toda operación financiera en un periodo especifico, mientras que la tasa nominal requiere un proceso de capitalización para así poder determinar su equivalente efectivo.
En el sistema a desarrollar, será sumamente importante trabajar con una tasa homogénea, por lo que todas las tasas ingresadas deberán convertirse a Tasa Efectiva Mensual (TEM), permitiendo realizar cálculos que sean consistentes para el cronograma de pagos.
2.2.3. Conversión de Tasas
En el ámbito financiero, las tasas de interés se presentan en distintos periodos asi como en formas, siendo necesario realizar conversiones para poder compararlas y utilizarlas correctamente en los cálculos. Este proceso está basado en el principio de equivalencia financiera, el cual establece que diferentes tasas pueden ser equivalentes si producen el mismo resultado en el tiempo (SBS, 2018).
La conversión se puede realizar desde una tasa efectiva a otra tasa efectiva de diferente periodo, o desde una tasa nominal a una tasa efectiva anual (TEA), para luego a una tasa efectiva mensual (TEM) permitiendo estandarizar los cálculos dentro del sistema.
Estas conversiones son totalmente fundamentales en el sistema, ya que permitirán trabajar de manera correcta los distintos tipos de tasas de interés proporcionadas por las entidades financieras.
Para estandarizar los cálculos:
De tasa efectiva a otra:
De tasa nominal a efectiva:
Luego a tasa mensual (TEM):
2.2.4. Cuota en el Método francés
La cuota en el método francés es un valor constante que se paga periódicamente durante el plazo del crédito. Esta cuota incluye el pago de los intereses como la amortización del capital, permitiendo que la deuda pueda ser cancelada de manera progresiva (BBVA, 2026).
El cálculo de la cuota se basa en una formula financiera que relaciona el capital prestado, la tasa de interés y el número de periodos. Gracias a esta fórmula se puede determinar un pago uniforme que cubre tanto el costo del financiamiento como la devolución del capital.
2.2.5. Indicadores financieros
Los indicadores financieros son herramientas de análisis que son utilizados para poder evaluar la situación económica y financiera. Estos permiten medir varios aspectos como la liquidez, rentabilidad, etc. Entre algunos de los indicadores tenemos:
VAN (Valor Actual Neto)
Este indicador permite calcular el valor presente de los flujos fututos de dinero, siendo descontados a una tasa determinada. Se utilizan para evaluar la rentabilidad de una inversión (ESAN, 2017).
Donde:
: flujo en el periodo t
: tasa de descuento
: inversión inicial
TIR (Tasa Interna de Retorno)
Este indicador permite que medir la rentabilidad de un proyecto o inversión. Además, de tener como objetivo ayudar en la toma de decisiones, y comparar los ingresos que se proyectan (BBVA, s.f.). Esta tasa es la llamada tasa de descuento ya que hace que el VAN sean igual a cero.
CAPITULO 3: Análisis y Diseño del Sistema
3.1 Análisis de Datos
3.1.1 Datos de Entrada
Los datos de entrada corresponden a toda la información que el usuario deberá registrar en el sistema para realizar la simulación del crédito vehicular.
Descripción
Tipo
Tamaño/Formato
Valor
Restricciones
usuario
Nombre de acceso al sistema
VARCHAR
50 caracteres
Ninguno
Obligatorio
contraseña
Clave de acceso del usuario
VARCHAR
255 caracteres
Ninguno
Obligatorio
nombresCliente
Nombres del cliente
VARCHAR
100 caracteres
Ninguno
Solo letras
apellidosCliente
Apellidos del cliente
VARCHAR
100 caracteres
Ninguno
Solo letras
dniCliente
Documento de identidad del cliente
CHAR
8 dígitos
Ninguno
Único y obligatorio
correoCliente
Correo electrónico del cliente
VARCHAR
100 caracteres
Ninguno
Formato email
telefonoCliente
Número telefónico
CHAR
9 dígitos
Ninguno
Solo números
direccionCliente
Dirección del cliente
VARCHAR
150 caracteres
Ninguno
Opcional
ingresosMensuales
Ingreso mensual del cliente
DECIMAL
10,2
0.00
Mayor a 0
marcaVehiculo
Marca del vehículo
VARCHAR
50 caracteres
Ninguno
Obligatorio
modeloVehiculo
Modelo del vehículo
VARCHAR
50 caracteres
Ninguno
Obligatorio
precioVehiculo
Valor comercial del vehículo
DECIMAL
12,2
0.00
Mayor a 0
cuotaInicial
Porcentaje de cuota inicial
DECIMAL
5,2
0.00
Entre 0 y 100
moneda
Tipo de moneda del crédito
VARCHAR
Soles/dólares
Soles
Obligatorio
tipoTasa
Tipo de tasa ingresada
VARCHAR
Efectiva/Nominal
Efectiva
Obligatorio
tasaInteres
Valor de la tasa de interés
DECIMAL
8,6
0.00
Mayor a 0
capitalizacion
Frecuencia de capitalización
INTEGER
Numérico
12
Obligatorio si tasa nominal
plazoMeses
Cantidad de cuotas del crédito
INTEGER
Numérico
12
Mayor a 0
periodoGracia
Tipo de periodo de gracia
VARCHAR
Ninguno/Parcial/Total
Ninguno
Opcional
mesesGracia
Cantidad de meses de gracia
INTEGER
Numérico
0
Mayor o igual a 0
seguroDesgravamen
Tasa del seguro de desgravamen
DECIMAL
5,4
0.00
Mayor o igual a 0
seguroVehicular
Tasa del seguro vehicular
DECIMAL
5,4
0.00
Mayor o igual a 0
portes
Gastos administrativos y portes
DECIMAL
8,2
0.00
Mayor o igual a 0
3.1.2 Datos de Salida
Los datos de salida corresponden a la información que se genera automáticamente por el sistema luego de procesar la información de entrada
Nombre del dato
Descripción
Tipo
Formato
TEM
Tasa efectiva mensual calculada
DECIMAL
Porcentaje
cuotaBase
Cuota fija sin seguros
DECIMAL
Moneda
interesPeriodo
Interés generado en cada periodo
DECIMAL
Moneda
amortizacionPeriodo
Reducción del capital por periodo
DECIMAL
Moneda
saldoPendiente
Capital restante del préstamo
DECIMAL
Moneda
cuotaTotal
Cuota total a pagar
DECIMAL
Moneda
cronogramaPagos
Tabla completa de pagos
TABLE
Tabular
VAN
Valor actual neto
DECIMAL
Moneda
TIR
Tasa interna de retorno
DECIMAL
Porcentaje
TCEA
Tasa de costo efectivo anual
DECIMAL
Porcentaje
flujoCaja
Flujo financiero del préstamo
ARRAY
Numérico
3.1.3 Datos Intermedios
Los datos intermedios son las variables que se utilizaran de manera interna en el sistema durante el procesamiento de cálculos financieros.
Nombre del dato
Descripción
Tipo
Formato
TEA
Tasa efectiva anual
DECIMAL
Porcentaje
saldoInicial
Capital inicial financiado
DECIMAL
Moneda
interesAcumulado
Total de intereses acumulados
DECIMAL
Moneda
amortizacionAcumulada
Total amortizado
DECIMAL
Moneda
segurosAcumulados
Total de seguros aplicados
DECIMAL
Moneda
cuotaTemporal
Valor temporal de cuota
DECIMAL
Moneda
flujoTemporal
Flujo utilizado para VAN/TIR
DECIMAL
Moneda
tasaAproximada
Valor aproximado para cálculo TIR
DECIMAL
Porcentaje
numeroIteraciones
Cantidad de iteraciones realizadas
INTEGER
Numérico
3.2 Diseño de la Interfaz
3.3 Marco conceptual (fórmulas)
El sistema utilizara fórmulas matemáticas financieras para calcular el comportamiento del crédito mediante el método francés. Estas fórmulas permitirán obtener el cronograma de pagos, amortizaciones, calcular intereses, saldos pendientes y sobre todo evaluar indicadores financieros como el VAN, TIR y TCEA.
Conversión a Tasa Efectiva Mensual (TEM)
Debido a que las entidades financieras pueden trabajar con tasas efectivas o nominales en diferentes periodos, el sistema deberá convertir todas las tasas ingresadas a una Tasa Efectiva Mensual (TEM), ya que esta será utilizada para ayudar a calcular las cuotas de crédito.
Para convertir tasas efectivas se utilizará la siguiente fórmula:
Para convertir tasas nominales a tasa efectiva anual:
Posteriormente, la TEA será convertida a Tasa Efectiva Mensual:
Donde:
i: tasa nominal ingresada
m: frecuencia de capitalización
TEA: tasa efectiva anual
TEM: tasa efectiva mensual
Método Francés
El método francés de amortización se caracteriza por mantener cuotas constantes durante todo el tiempo del préstamo.
La cuota base se calculará mediante la siguiente fórmula:
Donde:
C: cuota base
S: capital financiado
r: tasa efectiva mensual
n: número de periodos
Cálculo del interés
El interés de cada periodo será calculado sobre el saldo pendiente del préstamo del periodo anterior.
La fórmula que se utilizara es:
Donde:
:                  saldo pendiente del periodo anterior
:  tasa efectiva mensual
Cálculo de amortización
La amortización representa la parte de la cuota destinada a reducir la deuda del préstamo.
La fórmula que será utilizada es:
Donde:
Cálculo de saldo pendiente
Valor Actual Neto (VAN)
El VAN permitirá evaluar el valor presente de todos los flujos financieros generados por el préstamo, descontados a una determinada tasa de interés.
Donde:
:     flujo en el periodo
: tasa de descuento
:    inversión inicial
Tasa Interna de Retorno (TIR)
La TIR representa la tasa de rentabilidad obtenida a partir de los flujos del préstamo y se define como la tasa que hace que el VAN sea igual a cero.
Donde:
:     flujo financiero del periodo
:         tasa interna de retorno
Tasa de Costo Efectivo Anual (TCEA)
La TCEA representa el costo real del crédito, incluyendo intereses, seguros, portes y demás gastos asociados.
Donde:
tasa efectiva mensual
Periodos de Gracia
El sistema implementado contemplará periodos de gracia total y parcial, siendo que estos afectan directamente el cálculo del cronograma de pagos y el saldo del préstamo.
En el periodo de gracias total, el cliente no realiza pagos y los intereses que se generan a través de ellos se capitalizan.
En el periodo de gracias parcial, él cliente tiende a pagar únicamente los intereses generados durante el periodo del crédito.
3.4 Diseño de Datos de prueba
El diseño de datos de prueba permitirá validar el correcto funcionamiento del sistema de evaluación de créditos vehiculares. Para ello, se hará uso de caso en donde se simulará el proceso real de financiamiento de un vehículo, y para ello se considerará la información de cliente, características del préstamo, tasas de interés, seguros, portes y periodo de gracia.
Caso de prueba
Carlos Ramírez, identificado con DNI 74859632, desea adquirir un vehículo y para ello solicita un financiamiento vehicular. El automóvil seleccionado tiene un valor de S/ 85,000. Para acceder al crédito, el tendrá que desembolsar una inicial equivalente al 20% del valor del vehículo.
La entidad financiera le ofrece una Tasa Efectiva Anual (TEA) de 12.5%, con un plazo de financiamiento de 48 meses. Siendo que el desembolso del préstamo se hará efectivo el 15/08/2026. Además, el cliente solicita un periodo de gracia parcial de 2 meses, durante los cuales solamente pagara intereses.
Datos de entrada
Cliente
Campo
Valor
DNI del cliente
74859632
Nombre del Cliente
Carlos Ramírez
Del Vehículo
Campo
Valor
Vehículo
Toyota Corolla 2026
Valor del vehículo
S/ 85,000
Cuota Inicial
20%
Plazo
48 meses
Fecha de desembolso
15/08/2026
De la Tasa de Interés
Campo
Valor
Tasa de interés
12.5%
Tipo de Tasa
Efectiva
Periodo de Tasa
Anual
Capitalización
Mensual
Del Periodo de Gracia
Campo
Valor
Tipo de Periodo de Gracia
Parcial
Duración del Periodo de Gracia
2 meses
Datos Variables
Campo
Valor
Seguro de Desgravamen (TEM)
0.030%
Seguro vehicular Mensual
0.025%
Portes
S/4.00
Datos Intermedios
Financiamiento
Campo
Valor
Valor del vehículo
S/ 85,000.00
Cuota Inicial
S/ 17,000.00
Capital Financiado
S/ 68,000.00
Seguros
Campo
Valor
Seguro vehicular mensual
S/ 21.25
Tasa Seguro Desgravamen
0.030%
Portes por cuota
S/ 4.00
Datos de Salida
Indicadores Financieros
Campo
Valor
VAN
S/ -1,850.45
TIR
1.08%
TCEA
14.21%
Cronograma de pago
CAPITULO 4: Algoritmo
4.1 Conversión de Tasa Efectiva o Tasa Nominal a Tasa Efectiva Mensual (TEM)
Descripción:
Este algoritmo permite convertir cualquier tasa ingresada por el usuario a Tasa Efectiva Mensual (TEM), la cual será utilizada para todos los cálculos del crédito vehicular.
Proceso:
Leer tipo de tasa
Leer valor de la tasa
Validar si la tasa es efectiva o nominal
Convertir la tasa a TEM
Retornar la TEM
Pseudocódigo:
PROCESO Calculo_TEM
DEFINIR TipoTasa, p, c COMO ENTERO
DEFINIR i, TEA, TEM COMO REAL
LEER TipoTasa
LEER i
LEER p
SI TipoTasa = 0 ENTONCES
SEGUN p HACER
0:
TEM <- (1+i)^30 - 1
1:
TEM <- (1+i)^2 - 1
2:
TEM <- i
3:
TEM <- (1+i)^(1/2)-1
4:
TEM <- (1+i)^(1/3)-1
5:
TEM <- (1+i)^(1/4)-1
6:
TEM <- (1+i)^(1/6)-1
7:
TEM <- (1+i)^(1/12)-1
FINSEGUN
SINO
LEER c
TEA <- (1+i/c)^c -1
TEM <- (1+TEA)^(1/12)-1
FINSI
RETORNAR TEM
FINPROCESO
Función:
double calcularTEM(int tipoTasa, double i, int p, int c){
double TEA;
if(tipoTasa == 0){
switch(p){
case 0: return Math.pow(1+i,30)-1;
case 1: return Math.pow(1+i,2)-1;
case 2: return i;
case 3: return Math.pow(1+i,1.0/2)-1;
case 4: return Math.pow(1+i,1.0/3)-1;
case 5: return Math.pow(1+i,1.0/4)-1;
case 6: return Math.pow(1+i,1.0/6)-1;
default: return Math.pow(1+i,1.0/12)-1;
}
}else{
TEA = Math.pow(1+i/c,c)-1;
return Math.pow(1+TEA,1.0/12)-1;
}
}
4.2 Capital Financiado
Descripción:
Este algoritmo permite calcular el monto financiado del vehículo descontando la cuota inicial ingresada.
Proceso:
Leer precio del vehículo
Leer porcentaje de cuota inicial
Calcular cuota inicial
Calcular capital financiado
Pseudocódigo:
PROCESO Capital_Financiado
DEFINIR PV, CI, cuotaInicial, saldo COMO REAL
LEER PV
LEER CI
cuotaInicial <- PV * CI
saldo <- PV - cuotaInicial
RETORNAR saldo
FINPROCESO
Función:
double capitalFinanciado(double PV, double CI){
double cuotaInicial = PV * CI;
return PV - cuotaInicial;
}
4.3 Cálculo de la Cuota Base (Método Francés)
Descripción
Este algoritmo permite calcular la cuota fija mensual utilizando el método francés.
Proceso:
Leer saldo financiado.
Leer TEM.
Leer número de cuotas.
Aplicar formula del Método Francés.
Pseudocódigo:
PROCESO Cuota_Base
DEFINIR S, r, n, cuota COMO REAL
LEER S
LEER r
LEER n
cuota <- (S*r)/(1-(1+r)^(-n))
RETORNAR cuota
FINPROCESO
Función:
double cuotaBase(double S, double r, int n){
return (S*r)/(1-Math.pow(1+r,-n));
}
4.4 Cálculo del Interés
Descripción
Este algoritmo calcula el interés mensual generado sobre el saldo pendiente.
Proceso:
Leer saldo anterior
Multiplicar por la TEM
Pseudocódigo:
PROCESO Interes
DEFINIR saldo, r, interes COMO REAL
LEER saldo
LEER r
interes <- saldo * r
RETORNAR interes
FINPROCESO
Función:
double interes(double saldo, double r){
return saldo * r;
}
4.5 Calculo de Amortización
Descripción
Proceso:
Pseudocódigo:
Función:
4.6 Capital vivo al final del periodo k
Descripción:
Proceso:
Pseudocódigo:
Función:
4.7 Cuota Total del periodo k
Descripción:
Proceso:
Pseudocódigo:
Función:
4.8 VAN
Descripción:
Proceso:
Pseudocódigo:
Función:
4.9 TIR
Descripción:
Proceso:
Pseudocódigo:
Función:
4.10 TCEA
Proceso:
Pseudocódigo:
Función:
4.11 Pseudocódigo consolidado
Figura 9 Evidencias de funcionamiento
Nota. Elaboración propia
CAPÍTULO 5: Modelo de Base de datos
Figura 10 Propuesta de modelo de Base de datos
Nota. Elaboración propia
Clientes:
Inmueble:
Simulaciones:
Usuario:
Bibliografía
Banco Sabadell (2025). Sistema de amortización francés: qué es y cómo funciona. https://www.bancsabadell.com/bsnacional/es/blog/sistema-de-amortizacion-frances-que-es-y-como-funciona/
Anexos
Link del video de exposición parcial